!!!
%head
  %meta{ :charset => 'utf-8' }
  %title= @project_title
  %link{ :href => '/css/bootstrap.css', :rel => 'stylesheet' }
  %link{ :href => '/css/application.css', :rel => 'stylesheet' }
  %style{ :type => 'text/css' } body { padding-top: 60px; padding-bottom: 40px; }
%body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        .brand= @project_title
        .nav-collapse
          %ul.nav
            %li
              %a{ :href => "/" } Hosts
            %li
              %a{ :href => "/agents" } Agents

  .container= yield
